body {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/*------------ejercicio completo------------------*/
#website {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 150px 70px 1fr 70px;

  width: 80%;
  height: 1000px;
  margin: 0px auto;
  border: 2px solid rgb(8, 8, 8);
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/6;
  background: black;
  color: antiquewhite;
  margin-top: 1px;
}

#menu {
  grid-column: 1/6;
  background: red;
  color: black;
  line-height: 40px;
}
#menu ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
}

#menu ul li a {
  text-decoration: none;
  color: black;
}
#contenido {
  display: grid;
  grid-column: 1/5;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  grid-gap: 25px;
}
#contenido article {
  border: 1px solid #222;
  background: purple;
  color: white;
}
#lateral {
  grid-column: 5/6;
  background: rgb(33, 216, 248);
}
#footer {
  grid-column: 1/6;
  background: yellow;
}

/*------------ejemplos------------------*/

.layout {
  /*definir el grid en layout*/
  display: grid;
  width: 90%;

  margin: 0px auto;

  /* grid-template-columns: repeat(2,calc(25% - 10px)) 15% 35%; */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 2fr 1fr;

  /*Espacio entre elementos grid*/
  grid-gap: 10px;
  padding: 10px;
  border: 3px solid orangered;
}

.layout .caja {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 20px;
  border: 4px solid #222;

  background: gray;
}

.layout .red {
  grid-column-start: 1;
  grid-column-end: 2;
  background: red;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-row: 1/4;
}

.layout .orangered {
  background: orangered;
}
.layout .greenyellow {
  background: greenyellow;
}
.layout .blueviolet {
  grid-column: 2/4;
  background: blueviolet;
  grid-row: 2/5;
}
.layout .pink {
  grid-column-start: 1;
  grid-column-end: 2;
  background: pink;
}
.layout .purple {
  /*linea de inicio / linea del fin*/
  background: purple;
  grid-column: 1/4;
}
