/*fuentes*/
@font-face {
  font-family: "nevis";
  src: url("fonts/nevis.eot");
  src: url("fonts/nevis.eot?#iefix") format("embedded-opentype"),
    url("fonts/nevis.woff") format("woff"),
    url("fonts/nevis.ttf") format("truetype"),
    url("fonts/nevis.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "falaja";
  src: url("fonts/FjallaOne-Regular.ttf")format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "iconos";
  src: url("fonts/websymbols-regular-webfont.svg#websymbolsRegular") format("svg"),
  url("fonts/websymbols-regular-webfont.eot");
  src: url("fonts/websymbols-regular-webfont.eot") format("embedded-opentype"),
    url("fonts/websymbols-regular-webfont.woff") format("woff"),
    url("fonts/websymbols-regular-webfont.ttf") format("truetype");
    
  font-weight: normal;
  font-style: normal;
}

/*estilos generales*/
* {
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url("../img/paven.png");
}
a {
  color: #70b231;
  text-decoration: none;
}
a:hover {
  color: rgb(255, 80, 16);
}
a:visited {
  color: #4654cc;
}

.red {
  color: #9b2422 !important;
}
.blue {
  color: #0c73f2 !important;
}
.yellow {
  color:rgba(248, 248, 11, 0.856) !important;
}
.green {
  color: green;
}
/*ICON*/
.icon{
  font-family: iconos;
  float: left;
  margin-right: 3px;
  margin-top: -2px;
}

/*FOMULARIOS*/
input[type="text"],
input[type="email"],
input[type="password"],
select {
  border: 1px solid black;
  box-shadow: 0px 0px 2px #ccc inset;
  background: white;
  padding: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: gray;
  transition: all;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
  border: 3px solid rgb(37, 116, 37);
  color: rgb(0, 0, 0);
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
  display: block;
  border-radius: 2px;
  border: 1px solid rgb(61, 189, 56);
  color: #fff;
  width: 60px;
  padding: 3px;
  background-color: rgba(78, 241, 13, 0.911);
  text-align: center;

  cursor: pointer;
}
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
  box-shadow: 0px 2px 3px black;
}
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active {
  box-shadow: 0px 0px 4x black inset;
  text-shadow: 0px 0px 3px grey;
}

#header {
  min-width: 1024px;
  width: 100%;
  height: 250%;
  margin: 0px auto;
}

#header a {
  text-decoration: none;
}
#header #logotipo {
  width: 770px;
  margin: 0px auto;
  padding-top: 20px;
}

#header #logotipo img {
  display: block;
  text-align: center;
  margin: 0px auto;
  width: 140px;
}

#header h1 {
  text-align: center;
  font-size: 40px;
  color: #70b231;
  font-family: "nevis";
  letter-spacing: 4px;
  margin-top: 10px;
  text-shadow: 0px 2px 1px #333333;
  transition: all 300ms;
}
#header h1:hover {
  text-shadow: 0px 2px 1px #000000, 0px 0px 50px #70b231;
}

/*BARRA DE NAVEGACÃON*/

#nav {
  margin-top: 30px;
  width: 105%;
  height: 40px;
  background-color: #333333;
  color: white;
  font: size 14px;
  font-family: sans-serif;
  box-shadow: 0px 0px 2px gray;
}

#nav ul {
  list-style: none;
  text-decoration: none;
  margin: 0 auto;
  width: 1200px;
}

#nav > ul > li {
  line-height: 40px;
  float: left;
  border-right: 1px solid gray;
  transition: all 400ms;
}

#nav > ul > li a {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  text-decoration: none;
}

#nav > ul > li > a:first-child {
  border-left: 1px solid gray;
}

#nav > ul > li:hover {
  background-color: #70b231;
  box-shadow: 0px 0px 30px green inset;
}

/*Ocultar menu desplegable*/

#nav > ul > li > ul {
  display: none;
  position: absolute;
  width: 160px;
  box-shadow: 0px 2px 2px gray;
  z-index: 1;
}

#nav > ul > li:hover > ul {
  display: block;
}

#nav > ul > li:hover > ul > li {
  background-color: #ff9101;
  border-bottom: 1px solid #d6d6d6;
  padding: 8px;
  line-height: 25px;
  font-size: 13px;
}

#nav > ul > li:hover > ul > l > a {
  color: #666666;
}
#nav > ul > li:hover > ul > li:hover {
  box-shadow: 0px 0px 15px rgb(255, 255, 255) inset;
}

/* 
#degradado{
    border: 2px solid black;
    width: 480px;
    height:480px;
    background: repeating-radial-gradient(circle, blue, cyan 10%);
    /*background: radial-gradient(circle at  left, red 10%, orange 50%);*/
/*background: radial-gradient(blue,black  ,red 100%);*/
/*background: repeating-linear-gradient(blue,black  ,red 50%);*/
/* background: linear-gradient(blue 6%,black 1% ,red 80%); */
/* background: linear-gradient(45deg ,orange,red); */
/* background: linear-gradient(to left ,orange,red); */
/* background: linear-gradient(orange,red) 
}
*/

/*CONTEMIDO0*/

#content {
  width: 1250px;
  min-height: 1100px;
  margin: 0px auto;
}

/*BARRA LATERAL*/
#aside,
#frase {
  width: 200px;
  float: left;
  margin: 30px;
  background-color: rgb(226, 226, 226);
  border: 1px solid #ccc;
  box-shadow: 0px 2px 2px rgb(144, 144, 144);
  font-family: sans-serif;
}
#frase {
  width: 180px;
  padding: 10px;
  font-size: 14px;
  font-family: sans-serif;
}

#aside .widget {
  display: block;
  width: 180px;
  margin: 5px auto;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  border-bottom: 1px dashed #cccc;
}

#aside .widget:last-child {
  margin-bottom: 20px;
}

#login h3 {
  display: block;
  color: #333333;
  width: 100%;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  background: #f2f3f2;
  border: 2px solid #ccc;
  border-left: none;
  border-right: none;
  margin-bottom: 15px;
}

#aside li {
  margin-top: 8px;
  margin-bottom: 5px;
  margin-left: 20px;
  list-style: square;
}

/*FORULRIOA BARRA LATERAL*/

#aside div label,
#aside div input[type="text"],
#aside div input[type="email"],
#aside div input[type="password"],
#aside div a {
  display: block;
  width: 95%;
  margin-top: 3px;
}
#aside div input[type="button"],
#aside div input[type="submit"],
#aside div button {
  margin-top: 9px;
  margin-bottom: 10px;
}

#aside input,
#aside label {
  margin: 0px auto;
  text-align: center;
}


/*SECCIONES*/

#sections{
  float : right;
  width: 75%;
  font-family: sans-serif;
  margin-right: 20px;
}
#sections .titulo{
  font-family: "falaja";
  font-size: 25px;
  font-weight:normal;
  letter-spacing: 2px;
  margin-bottom: 5px;
  text-align: center;
  padding-top: 20px;
  padding-bottom:10px;
  border-bottom: 1px solid gray;
  margin-top: -20px;
}

#sections section {
  margin-top:40px;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 4px #c9c9c9;
  color: #333333;
  font: size 16px;
  overflow: hidden;
}

#sections .article{
  margin: 10px;
  margin-top:20px;
  margin-bottom:20px;
  text-align: justify;

}

#sections .date{
  color: gray;
  font-size:13px;
}
/*Pegatinas*/
#sections .stikerOne,
#sections .stikerTwo{
  position: absolute;
  margin-top: -38px;
}

#sections .stikerTwo{
  margin-left: 860px;
}

.clearfix{
  float:none;
  clear: both;
}

#history{
  float: right;
  margin-top: 20px;
  margin: right 20px;
  font-family: sans-serif;
}
#footer{
  width:100%;
  height: 40px;
  margin: 5px auto;
  text-align: center;
  background: #000000;
  margin-top:40px;
  border-color: #ffffff;
  padding-bottom: 10px;
  color:#ffffff;
  font-family: sans-serif;
  font-size:16px;
  box-shadow: 0px 0px 5px gray;
}